@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --titulos: hsl(233, 26%, 24%);
    --verdeGradient: hsl(136, 65%, 51%);
    --azulGradient: hsl(192, 70%, 51%);
    /*Neutral */
    --cinza: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --cinzaFraco: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%)
}

body{
    width: 100%;
    height: 100vh;
    font: 18px Public Sans;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cinza);
}

header{
    width: 100%;
    z-index: 1;
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 70px;
    margin: auto;
}

.menu-desktop ul, 
.menu-desktop li {
    display: flex;
    text-decoration: none;
    margin: 0 15px 0 15px;
}

.menu-mobile,
.menu-mobile--foco{
    display: none;
}

.click--menu-mobile i{
    display: none;
    font-size: 2.1rem;
    width: 50px;
    color: var(--titulos);
}

.menu-mobile{
    position: absolute;
    text-align: center;
    top: 100px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.993);
    width: 97.7vw;
    height: 55%;
    animation: apareceDaEsquerda .7s;
}
.menu-mobile ul{
    display: flex;
    flex-direction: column;
}

.menu-mobile a{
    color: var(--titulos);
    margin: auto;
    width: 30%;
}

.menu-mobile--foco{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    animation: aparece 1s;
}

.menu-mobile--sair{
    text-align: end;
    margin: 20px 50px 0 0;
    padding-bottom: 10px;
}

.menu-mobile--sair img{
    width: 5%;
}

.aparece{
    display: block;
}

@keyframes apareceDaEsquerda {
    from{ 
        opacity: 0;
        transform: translatex(700px);
    }

}
@keyframes aparece {
    from{ opacity: 0; }
}

nav a{
    text-decoration: none;
    color: var(--cinza);
    padding: 25px 0;
    
}

nav a:hover{
    cursor: pointer;
    color: black;
    padding: 22px 0;
    border-bottom: 3px solid var(--verdeGradient);
    transition: all 0.1s;
}

button:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, hsl(136, 72%, 66%), hsl(192, 74%, 59%));
}

button{
    border: none;
    width: 14%;
    height: 60%;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--verdeGradient), var(--azulGradient));
}

.section1{
    display: flex;
    width: 100vw;
    background-color:  var(--cinzaFraco);
    height: 570px;
}

.section1__right{
    width: 91%;
    height: 100%;
    background-image: url(../imgs/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position-y: -280px;
    text-align: end;
}

.section1__right__imagem{
    width: 100%;
    
}

.section1__right__imagem img{
    width: 549px;
    height: 705px;
}

.section1__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.section1__left__conteudo{
    width: 80%;
    margin: 160px 0 0 130px;
}

.section1__left__conteudo button{
    height: 42px;
    width: 30%;
    margin-top: 35px;
}

.section1__left__conteudo h1{
    width: 85%;
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 30px;
    color: var(--titulos);
}

.section1__left__conteudo p{
    width: 80%;
}

.section2{
    background-color: hsl(225, 33%, 95%);
    height: 570px;
}

h2{
    color: var(--titulos);
    font-weight: 400;
    padding: 70px 0 20px 150px;
}

.section2 article p{
    margin: 0 0 80px 150px;
    width: 45%;
}

.section2__grid-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 100px 0 150px;
}

.section2__grid-column__box__imagem{
    margin-bottom: 25px;
}

.section2__grid-column__box h3{
    color: var(--titulos);
    margin-bottom: 25px;
    font-weight: 400;
}

.section2__grid-column__box p{
    width: 89%;
    line-height: 1.7rem;
}

.section3{
    background-color: rgb(245, 245, 245);
}

.section3 h2{
    padding-top: 100px;
}

.section3__grid-column{
    display: grid;
    width: 82%;
    margin: 20px 0 0 150px;
    grid-template-columns:  1fr 1fr 1fr 1fr
    
}

.section3__grid-column__box{
    width: 90%;
    background-color: white;
    margin-bottom: 100px;
}

.section3__grid-column__box__imagem img{
    width: 100%;
}

.section3__grid-column__box span{
    font-size: 0.6rem;
    margin: 20px;
}

.section3__grid-column__box h3{
    color: var(--titulos);
    font-weight: 400;
    margin: 20px 15px;
    font-size: 1.1rem;
    width: 70%;
}

.section3__grid-column__box p{
    margin: 20px 15px;
    width: 83%;
    font-size: 0.9rem;
}

#ajuste-img{
    height: 177.11px;
}

.footer{
    width: 100vw;
    height: 180px;
    background-color: var(--titulos);
    display: flex;
}

.footer__left{
    margin: 40px 0 0 150px;
}

.footer__left .logo__img{
    margin-bottom: 40px;
}

.footer__left__socials i{
    font-size: 1.3rem;
    margin-right: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.footer__mid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0 0 130px;
    column-gap: 80px;
}

.footer__mid a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.footer__right{
    width: 300px;
    text-align: end;
    margin: 40px 0 0 280px;
    font-size: 1rem;
}

.footer__right button{
    width: 60%;
    height: 35%;
    margin-bottom: 20px;
}

footer a:hover{
    color: var(--verdeGradient);
}

footer i:hover{
    cursor: pointer;
    color: var(--verdeGradient);
    transition: all .2s;
}

h3:hover{
    cursor: pointer;
    color: var(--verdeGradient);
    transition: all .3s;
}

/* ---------------Responsivo------------------ */

@media (min-width: 1600px){

    footer{
        background-color: var(--titulos);
    }

    .footer{
        margin-left: 30px;
    }

    .footer__mid{
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 200px;
    }
    .footer__right{
        margin-left: 200px;
    }
}

@media (max-width: 1333px){
    .footer__right{
        margin-left: 100px;
    }
}

@media (max-width: 1165px)  {

    .section1{
        display: flex;
        width: 100vw;
        background-color:  var(--cinzaFraco);
        height: 570px;
    }
    
    .section1__right{
        width: 60%;
        height: 100%;
        background-image: url(../imgs/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-position-y: -280px;
        background-position-x: -70px;
        text-align: end;

    }
    
    .section1__right__imagem img{
        width: 430px;
        height: 600px;
    }
    
    .section1__left__conteudo{
        width: 80%;
        margin: 120px 0 0 130px;
    }
    
    .section1__left__conteudo button{
        height: 42px;
        width: 30%;
        margin-top: 35px;
    }
    
    .section1__left__conteudo h1{
        width: 70%;
        font-size: 2.7rem;
        font-weight: 400;
        margin-bottom: 30px;
        color: var(--titulos);
    }
    .section1__left__conteudo p{
        width: 78%;
    }
    
    .section2__grid-column{
        width: 84%;
    }
    
    .section2__grid-column__box h3{
        font-size: 1.2rem;
    }
    
    .section2__grid-column__box p{
        width: 87%;
        line-height: 1.5rem;
        font-size: 1rem;
    }

    #ajuste-img{
        height: 145px;
    }
    
    .footer__left{
        width: 100%;
        margin: 40px 0 0 50px;
    }

    .footer__left__socials i{
        margin-bottom: 10px;
        font-size: 1.3rem;
    }
    
    .footer__mid{
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 40px 0 0 50px;
        column-gap: 70px;
    }
    
    .footer__right{
        width: 100%;
        text-align: end;
        margin: 50px 70px 0 130px;
        font-size: 0.7rem;
    }
    
    .footer__right button{
        width: 160px;
        height: 35%;
        margin-bottom: 20px;
    }
}


@media (max-width: 1024px){
    
    .section1__left__conteudo{
        width: 80%;
        margin: 120px 0 0 0px;
    }
    .section2 article h2{
        padding-left: 100px;
    }

    .section2 article p{
        margin: 0 0 80px 100px;
        width: 45%;
    }

    .section2__grid-column{
        margin: 0 100px 0 100px;
    }
    
    .section3__grid-column{
        margin: 20px 0 0 100px;
        
    }
    .section3 h2{
        padding: 100px 0 0px 100px;
    }

    #ajuste-img{
        height: 125px;
    }
}

@media (max-width: 1024px){

    .footer__left__socials{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 60%;
        margin-left: 20px;
    }

    .footer__mid{
        grid-template-columns: 1fr 1fr;
        margin-left: 50px;
    }
    .footer__right{
        width: 100%;
        margin-left: 100px;
    }
}

@media (max-width: 930px){
    .section3__grid-column,
    .section2__grid-column{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .section2{
        height: 900px;
    }

    .section2__grid-column__box{
        margin-bottom: 40px;
    }

    nav{
        font-size: 1rem;
    }

    nav button{
        width: 18%;
        height: 50%;
        font-size: 0.8rem;
    }

    @media (max-width: 830px){

        nav a{
            font-size: 1.15rem;
            margin-bottom: 8px;
        }

        nav button{
            display: none;
        }

        .section1__left__conteudo button {
            min-width: 150px;
        }

        .section1__right__imagem img{
            display: none;
        }

        .footer{
            height: 200px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .footer__left__socials{
            width: 35%;
            margin-left: 20px;
        }
    
        .footer__left{
            margin-left: 100px;
        }

        .footer__mid{
            grid-template-columns: 1fr 1fr;
            margin-left: 60px;
            width: 50%;
        }

        .footer__right{
            display: none;
        }

    }
}

@media (max-width: 768px) {
    .menu-desktop{
        display: none;
    }

    .click--menu-mobile i{
        display: block;
    }

    .section1{
        flex-direction: column-reverse;
        width: 100vw;
        height: 1000px;
    }
    
    .section1__right{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position-x: -250px;
        background-position-y: -430px;
        background-size: 1200px;
        text-align: end;
    }
    
    .section1__right__imagem{
        /* width: 100%; */
    }
    
    .section1__right__imagem img{

    }
    
    .section1__left{
        display: flex;
        width: 100%;
        text-align: center;
        height: 55%;
    }
    
    .section1__left__conteudo{
        width: 100%;
        text-align: center;
        margin: 0;
    }

    h1{
        padding-bottom: 20px;
    }
    .section1__left__conteudo h1,
    .section1__left__conteudo p {
        margin: auto;
        width: 70%;
    }

    .section1__left__conteudo button{
        height: 50px;
        width: 35%;
    }
    
    .section2{
        background-color: hsl(225, 33%, 95%);
        height: 1000px;
    }
    
    .section2 article p {
        margin: auto;
        padding-bottom: 100px;
        width: 70%;
        text-align: center;
    }

    .section2 h2{
        margin: auto;
        padding-top: 80px;
        width: 80%;
    }
    
    .section2__grid-column{
        grid-template-columns: 1fr 1fr;
    }
    
    
    .section3__grid-column{
        margin: 0px 0 0 90px;
        grid-template-columns:  1fr 1fr;
    }

    #ajuste-img{
        height: 155px;
    }

    footer{
        height: 500px;
        height: 100vw;
    }

    .footer{
        height: 100%;
        width: 100vw;
        grid-template-columns: 700px;

    }

    .footer__left{
        margin: 0;
        text-align: center;
    }
    
    .footer__left .logo__img{
        margin-bottom: 40px;
    }

    .footer__left .logo__img img{
        padding-top: 50px;
        height: 80px;
    }
    
    .footer__left__socials{
        display: flex;
        justify-content: center;
        gap: 60px;
        width: 100%;
    }

    .footer__left__socials i{
        font-size: 2rem;
    }

    .footer__mid{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 270px;
        margin: 40px 0 0 10px;
        text-align: center;
        font-weight: 100;
    }

    .footer__mid a{
        color: #fff;
        font-size: 1.4rem;
    }

    .footer__mid ol{
        padding-bottom: 19px;
    }
}
    /*
    .footer__right{
        width: 300px;
        text-align: end;
        margin: 40px 0 0 280px;
        font-size: 1rem;
    }
    
    .footer__right button{
        width: 60%;
        height: 35%;
        margin-bottom: 20px;
    }
} */

